
#latest657 {
  margin: auto;
}
.latest-post-title {
  position: absolute;
}
.latest-post-title h3 {
  text-align: center;
}
.latest-post-text {
  position: absolute;
}
.latest-post-text p {
  text-align: center;
  margin: 0;
  font-size: larger;
  font-weight: bolder;
}
.latest-post img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: 100%;
}
.latest-post-audio {
  position: relative;
  top: 40%;
  width: 100%;
}
.latest-post-audio audio {
  width: auto;
}
.latest-post-video {
  position: absolute;
}
.latest-post-video video {
  display: block;
  margin: auto;
  max-width: 100%;
}