
#latest657 {
  margin: auto;
}

.latest-post-text {
  position: relative;
}

.latest-post-text p {
  font-size: x-large;
  font-weight: bold;
  color: blue;
  text-align: center;
}

.latest-post img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.latest-post-audio {
  position: relative;
  top: 40%;
  width: 100%;
}
.latest-post-audio audio {
  width: auto;
}

.latest-post-video video {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}